// Define variables for your color scheme
// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

// OUR COLORS:
$dark-blue: #16142b;
$dark-blue-ligher: #383748;
$creme: #fdf8f4;
$turquoise: #6bc491;
$turquoise-lighter: #90d8ae;
$bright-blue: #4e34dd;
$magenta-red: #d34470;
