// CSS for home-page
.background-img {
  background-image: asset-url("LandingPageImage.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.landing-page-header {
  color: $creme;
  font-family: "Moret Regular";
  text-align: center;
  font-weight: normal;
}

.home-card {
  background-color: transparent;
  margin-top: 20px;
  display:flex;
  justify-content: center;
}



