// Styling Comment-Form
.comment-form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.comment-content {
  padding-left: 15px;
  width: 400px;
  background-color: $creme;
}

.form-btn {
  padding-left: 10px;
}

.form-btn:focus {
  outline: none;
}

#comment_content {
  background-color: $creme;
  display: flex;
  height: 100px;
  overflow: hidden;
}

#comment_content::placeholder {
  color: $turquoise;
  line-height: 100px;
}

// Styling Comment-Card
.container {
  width: 800px;
}

.card-body {
  background-color: white;
}

// Styling Group

.group-title {
  font-family:'Moret Regular';
}

.group-language {
  color: $turquoise;
  font-family: "Montserrat";
}

h2 {
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 20px;
}

.group-author {
  color: $turquoise;
  font-size: 12px;
  font-weight: 500;
}

#comments {
  display:flex;
  justify-content: center;
  flex-direction: column;
}
