// Styling Comment-Form

.comment-content {
  padding-left: 15px;
  width: 400px;
}

#comment_content {
  background-color: $creme;
  display: flex;
  height: 100px;
  overflow: hidden;
  max-height: 100px;
}

#comment_content::placeholder {
  color: $turquoise;
  font-weight: 500;
  font-size: 1rem;
}

.comment-btn {
  padding: 2px 6px;
}

// Styling Comment-Card
.container {
  width: 800px;
}

.card-body {
  background-color: $creme;
  position: relative;
}

.icon-position {
  position: absolute;
  right: 24px;
  top: 22px;
}

// Styling Group

.group-title {
  font-family:'Moret Regular';
}

.group-language {
  color: $turquoise;
  font-family: "Montserrat";
}

h2 {
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 20px;
}

.group-author {
  color: $turquoise;
  font-size: 12px;
  font-weight: 500;
}

#comments {
  display:flex;
  justify-content: center;
  flex-direction: column;
}
