.comment-form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.comment-content {
  padding-left: 15px;
  width: 400px;
}

.form-btn {
  padding-left: 10px;
}

// Styling Group

.group-title {
  font-family:'Moret Regular';
}

.group-language {
  color: $turquoise;
  font-family: "Montserrat";
}

h2 {
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 20px;
}
