body {
  background-color: $creme;
}

.user-profile {
  text-align: center;
  margin-top: 150px;
  margin-bottom: 80px;
}

.profile-heading{
  padding-top: 50px;
  padding-bottom: 70px;
}

.user-bio{
  padding-bottom: 70px;
}

.reading{

}


h1 {
  font-size: 48px;
}

h2 {
  font-size: 18px;
}

p {
  font-size: 18px;
}
