.dashboard_and_account {
  margin-top: 80px;
  text-align: center;
  width: 800px;
}

.tab-content {
  margin-top: 60px;
}

.current-reads {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.title-current-reads {
  color: $dark-blue;
}

#home-tab {
  font-family: Moret Regular;
  font-size: 48px;
}

#profile-tab {
  font-family: Moret Regular;
  font-size: 48px;
}

.nav-pills .nav-link.active {
  color: $turquoise;
  background-color: $creme;
}

.nav-pills .nav-link {
  color: $dark-blue;
  background-color: $creme;
}

#profile {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.my-account-top {
  display:flex;
}
.my-account-top-right {
  margin-left: 60px;
  text-align: left;
}

.display-line {
  width: 300px;
  border-bottom: 1px solid;
  border-color: $dark-blue;
  text-align: left;
}

.fake-button {
  color: $turquoise;
  font-size: 0.8rem;
  margin-top: 12px;
}

.my-account-bottom {
  padding-top: 30px;
  text-align: left;
}

.user-bio {

}
