<div class="row align-items-start d-flex justify-content-between">

  <div class="col-3 filter-container">
    <p class="filter-label">Range</p>
    <div class="line"></div>
    <div class="d-flex">
      <input id="range" name="range" min="1" max="100" type="number" class="filter tags_dropdown" />
    </div>
  </div>

  <div class="col-3 filter-container">
    <p class="filter-label">Genre</p>
    <div class="line"></div>
    <div class="d-flex">
      <%= render 'shared/tags_dropdown' %>
    </div>
  </div>

  <div class="col-3 filter-container">
    <p class="filter-label">Language</p>
    <div class="line"></div>
    <div class="d-flex">
      <%= select_tag :language, options_from_collection_for_select(Language.all, "id", "name"), label: false, placeholder: "English", class: "filter" %>
    </div>
  </div>

</div>
