<%= render "shared/navbar_dark" %>
<div class="container d-flex flex-column text-center" id="groups-container">
  <h1 class="cards">Meet other book lovers near</h1>
  <div class="search-section w-75 mx-auto">
    <%= render 'shared/search_bar', location: params[:format] %>
  </div>
  <div class="my-4">
    <%= render 'shared/group_cards' %>
  </div>
</div>
