<div class="container m-5 d-flex flex-column text-center">
<<<<<<< HEAD
  <h1 class="cards">Meet other book lovers near</h1>
  <h1 class="cards-title">Kottbusser</h1>

  <div>
    <%= render 'shared/group_cards' %>
  </div>
</div>

