<div class="row ml-1">
  <% group.tag_list.each do |tag| %>
    <div class="col-4 tag text-center text-align-center mr-1 p-0 pr-2">
      <div class="p-0 m-0"><%= tag %></div>
    </div>
  <% end %>
</div>
