.avatar {
  width: 40px;
  border-radius: 50%;
}
.avatar-large {
  height: 56px;
  width: 56px;
  border-radius: 50%;
}

.avatar-profile {
  object-fit: cover;
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.avatar-bordered {
  width: 40px;
  border-radius: 50%;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  border: white 1px solid;
}
.avatar-square {
  width: 40px;
  border-radius: 0px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  border: white 1px solid;
}

.avatar-group {
  object-fit: cover;
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

.avatar-alignment {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  width: 400px;
}
