.con-bg {
  padding: 0px 15px;
  margin: 50px auto 0px;
  width: 70%;
}

.total-info {
      width: 70%;
    margin: 13px auto 0px;
}

.cards {
  font-family:'Moret Regular';
  font-size: 48px;
  color: $dark-blue;
}
.cards-title {
  color: $turquoise-lighter;
  font-family:'Moret Regular';
}
.cards-row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  // grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
}

@media(max-width: 768px) {
  .cards-row {
    grid-template-columns: 1fr;
  }
}

@media(max-width: 1200px) and (min-width: 768px) {
  .cards-row {
    grid-template-columns: 1fr 1fr;
  }
}

.count-down {
 width:60px;
 height:60px;
 border-radius:30px;
 color: $creme;
 text-align:center;
 position: absolute;
 top: -25px;
 left: -25px;
 display: flex;
 flex-direction: column;
     justify-content: center;
}

#number {
  // color: $creme;
 color:$dark-blue;
    font-weight: 800;
    font-size: 20px;
    line-height: 1;
}

#subday {
  // color: $creme;
  color:$dark-blue;
    font-size: 0.6rem;
    font-weight: 800;
}
.bc-red {
  background: $magenta-red
}
.bc-green {
  background: $turquoise-lighter;
}
.outside {
  justify-content: center;
  margin: auto;
  justify-content: space-around;
  flex-wrap: wrap;
}
#card-item {
  display: flex;
  padding: 0px;
  position: relative;
  margin: 0px 30px 70px;
  // margin-bottom: 30px;
  // margin-top: 30px;
  // margin-left: 30px;
}
.book-image {
    flex: 1;
    width: 165px;
    height: 256px;
    object-fit: fill;
}
.detail {
  text-decoration: none;
  flex: 1;
  min-width: 205px;
  height: 256px;
  text-align: left;
  margin-left: 10px;
  margin-right: 10px;
}
.title {
  font-size: 18px;
  margin-bottom: 0;
  color: $turquoise-lighter;
  text-decoration: none;
  font-weight: bolder;
}
.link:hover {
  text-decoration: none;
}
.subtitle {
  color:$dark-blue;
  font-size: 0.8rem;
  margin-bottom: 0;
  text-decoration: none;
}
.date {
  color:$dark-blue;
 font-size: 1.1rem;
 margin-top: 0;
margin-bottom: 0;
text-decoration: none;
}
.location {
  color:$dark-blue;
 font-size: 0.8rem;
 margin-top: 0;
 margin-bottom: 0;
 font-weight: bold;
 text-decoration: none;
}
.address {
  color:$dark-blue;
 font-size: 0.8rem;
 margin-top: 0;
 margin-bottom: 0;
 text-decoration: none;
}
.member {
  color:$dark-blue;
 font-size: 0.8rem;
 text-decoration: none;
}

#d-bt{
  color:$dark-blue;
  position: absolute;
  font-size: 0.6rem;
  font-weight: bolder;
  text-align: center;
  border: 2px solid $turquoise-lighter;
  padding: 5px 7px;
  border-radius: 20px;
  text-decoration: none;
}
