.cards {
  font-family:'Moret Regular';
  font-size: 48px;
}

.cards-title {
  color: $turquoise-lighter;
  font-family:'Moret Regular';
}

#card-item {
  display: flex;
  margin-bottom: 30px;
  margin-top: 30px;
  justify-content: space-between;
}

.book-image {
    flex: 1;
    width: 165px;
    height: 256px;
    object-fit: fill;
}

.detail {
  flex: 1;
  min-width: 165px;
  height: 256px;
  text-align: left;
  margin-left: 10px;
  margin-right: 10px;
}

.title {
  font-size: 1rem;
  margin-bottom: 0;
  color: $turquoise-lighter;
  text-decoration: none;
  font-weight: bolder;
}

.link:hover {
  text-decoration: none;
}

.subtitle {
  font-size: 1rem;
  margin-bottom: 0;
}

.date {
 font-size: 1.3rem;
 margin-top: 0;
margin-bottom: 0;
}

.location {
 font-size: 0.8rem;
 margin-top: 0;
 margin-bottom: 0;
 font-weight: bold;
}

.address {
 font-size: 0.8rem;
 margin-top: 0;
 margin-bottom: 0;
}

.member {
 font-size: 0.8rem;
 margin-top: 24px;
 margin-bottom: 0;
}
