.line {
  height: 0px;
  background-color: black;
  border: .1px solid #000000;
}

.filter-container{
  background-color: $creme;
  text-align: center;
}

.filter-label {
  height: 20px;
  width: 114px;
  margin-left: -10px;
  margin-top: 1px;
}

.filter {
  height: 20px;
  width: 114px;
  margin-left: -10px;
  margin-top: 1px;
}

.tags_dropdown {
  width: 114px;
}
