.hole-form {
  margin: 80px 80px;
  display: flex;
}

.top-section {
  text-align: center;
}

.question {
  font-family: "Moret Regular";
  font-size: 38px;
  padding-bottom: 30px;
}

.line-bottom {
  border-bottom: 2px solid $dark-blue-lighter;
  padding-bottom: 10px;
}

.createform-container {
  margin: 0 auto;
}

.book-details{
  display: flex;
  justify-content: space-around;
}

.form-image {
  display: flex;
  align-items: center;
}

.book-form-desc {
  max-width: 450px;
}

.hidden {
  display: none;
}
