.navbar-lewagon {
  justify-content: space-between;
  background: rgba(1,1,1,0);
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

a.nav-light {
  color: $creme;
  text-decoration: none;
}

// .nav-item-light {
//   margin-top: 8px;
//   padding-right: 6px;
// }

.nav-item {
  margin-right: 22px;
  font-weight: 400px;
  color: $dark-blue-ligher
}

// .navbar-light .navbar-nav .nav-link {
//   color: $dark-blue-ligher;
//   opacity: 0.5;
// }

// .navbar-light .navbar-nav .nav-link:hover {
//     color: $dark-blue;
// }


.navbar-light .navbar-nav .nav-link:hover {
    color: $dark-blue;
}





